:root {
  --background: #d4d4d4;
  --primary-color: #191b1e;
  --secundary-color: #434343;
  --subtitle-color: #efc02d;
}
html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}
// ::-webkit-scrollbar {
//   width: 15px;
// }
[data-theme="dark"] {
  --background: #191b1e;
  --primary-color: #d4d4d4;
  --secundary-color: #434343;
}
.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.section-box {
  display: flex;
  align-content: center;
  // flex-wrap: wrap;
}
.neu {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

input {
  border-width: 0px !important;
  border-style: none !important;
}
.title-section {
  font-family: "Courier New", Courier, monospace;
  color: #636363;
  font-weight: 800;
  font-size: 2.2rem;
}
.text-container h2 {
  font-size: 2.5rem;
}
h5 {
  font-size: 1rem;
}
p {
  font-size: 1.2rem;
}
.center {
  align-items: center;
  justify-content: center;
}
.switch {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 9;
  top: 50px;
  left: 60px;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.5s ease-in-out;
}


@media (max-width: 450px) {
  header,
  .email-container {
    display: none;
  }
  .parallax-group {
    top: -100px;
    transform: scaleY(1.3);
  }
  .name-container h1:nth-of-type(1) {
    font-size: 1.5rem;
  }
  .name-container h1:nth-of-type(2) {
    font-size: 3.4rem;
    top: 50%;
  }
  .lastname-parallax h1:nth-of-type(1) {
    top: 52%;
    font-size: 2.1rem;
  }
  .section-box {
    padding: 20px !important;

  }
  .box-container {
    flex-wrap: wrap;
    min-width: 330px !important;
    min-height: 560px !important;
    padding: 10px 15px 10px 15px !important;
  }
  .picture-container {
    .main-picture{
      max-width: 120px;
      margin: 10px !important;

    }
  }
  .menu{
    display: block;
  }
  // .small-picture {
  //   display: flex;
  //   position: relative;
  //   left: 10%;
  //   top: 10%;
  //   z-index: 9;
  //   max-width: 30px;
  //   max-height: 30px;
  //   min-width: 10px;
  //   min-height: 10px;
  //   animation: circularShadow 2s forwards infinite;
  //   .main-picture {
  //     filter: saturate(0);
  //     border-radius: 50%;
  //     display: flex;
  //     min-width: 120px;
  //     transition: all 300ms;
  //     &:hover {
  //       filter: saturate(1);
  //     }
  //   }
  // }
}

@media (max-width: 1000px) {
  .section-box {
    flex-wrap: wrap;
    // width: vw;
  }
  .box-container {
    // min-width: 400px !important;
    flex-wrap: wrap;
    padding: 10px 20px 10px 20px ;
  }
  .technologies-container .section-box {
    flex-direction: column-reverse;
  }
  // .App-logo {
  //   animation: App-logo-spin infinite 20s linear;
  // }
}

@keyframes circularShadow {
  0% {
    filter: drop-shadow(-20px 0px 30px rgba(255, 187, 0, 0.582));
  }
  12.5% {
    filter: drop-shadow(-10px -10px 30px rgba(255, 187, 0, 0.582));
  }
  25% {
    filter: drop-shadow(0px -20px 30px rgba(255, 187, 0, 0.582));
  }
  37.5% {
    filter: drop-shadow(10px -10px 30px rgba(255, 187, 0, 0.582));
  }
  50% {
    filter: drop-shadow(20px 0px 30px rgba(255, 187, 0, 0.582));
  }
  62.5% {
    filter: drop-shadow(10px 10px 30px rgba(255, 187, 0, 0.582));
  }
  75% {
    filter: drop-shadow(0px 20px 30px rgba(255, 187, 0, 0.582));
  }
  87.5% {
    filter: drop-shadow(-10px 10px 30px rgba(255, 187, 0, 0.582));
  }
  100% {
    filter: drop-shadow(-20px 0px 30px rgba(255, 187, 0, 0.582));
  }
}

// @media (max-width:768px) {
//   .cards-container {
//     flex-direction: row;
//   }
//   // .App-logo {
//   //   animation: App-logo-spin infinite 20s linear;
//   // }
// }

// @media (max-width:986px) {
//   .cards-container {

//     flex-direction: column !important;
//   }
//   // .App-logo {
//   //   animation: App-logo-spin infinite 20s linear;
//   // }
// }
// @media (max-width:768px) {
//   .cards-container {
//     flex-direction: row;
//   }
//   // .App-logo {
//   //   animation: App-logo-spin infinite 20s linear;
//   // }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
