.technologies-container {
  max-width: 100vw;
  z-index: 9;
  background-color: rgb(220, 220, 220);
  display: block;
  position: relative;
  .section-box {
    .box-container {
      .text-container {
        flex-direction: column;
        display: flex;
      }
    }
  }
}

.technologies-container div div .text-container .list {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  div {
    margin: 10px 30px;
    h3 {
      margin-top: 15px;
      text-align: left;
    }
    ul {
      font-size: 1.2rem;
    }
  }
}
.technologies-container div .text-container ul {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 1rem;
}
