.work-container {
  z-index: 8;
  background-color: rgb(220, 220, 220);
  display: block;
  position: relative;
  .section-box {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 25px 50px;
    .text-container {
      flex-direction: column;
      display: flex;
      gap: 12px;
      p:nth-of-type(1) {
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 12px;
      }
      p:nth-of-type(2) {
        font-size: 1rem;
        color: var(--subtitle-color);
        font-style: italic;

      }      
      p:nth-of-type(3) {
        font-weight: 400;
        font-size: 1rem;

      }      
      .project-link {
        font-weight: 600;
        font-style: italic;


      }
      .badges-wrapper{
        display: flex;
        flex-wrap: wrap;
      }
    }
    .cards-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 35px;
      .card-wrapper {
        margin-top: 80px;
        min-height: 510px;
        display: flex;
        .card-back{
          min-height: 531px;
          border-radius: 30px;
          background: #e0e0e0;
          box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
          .card-container {
            width: 250px;
            margin: -70px 15px 15px 15px;
            text-align: center;
            display: block;
            img {
              border-radius: 20px;
              position: relative;
              width: 180px;
              height: 180px;
              transition: all 300ms;
              &:hover {
                width: 190px;
                height: 190px;
              }
            }
          }
        }
      }
    }
    
  }
}



.project-link {
  position: relative;
  text-decoration: none; 
  color: #34badb;  
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.project-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3498db; 
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.project-link:hover {
  color: #e7a03c;  
  transform: scale(1.1); 
}

.project-link:hover::before {
  transform: scaleX(1); 
  transform-origin: bottom left;
  background-color: #e7a03c; 
}